<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../public/icons/favicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Acerca de Furni</title>
</head>

<body>
    <!-- CommonHeader -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5 ">
                    <div>
                        <h1>Página inexistente</h1>
                        <p class="mb-4">La página a la que intentas acceder, no existe. Visita nuestro catálago.</p>
                        <p><a href="catalog.html" class="btn btn-white-outline">Explore</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- CommonFooter -->
    <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>

</html>