<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../public/icons/favicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Acerca de Furni</title>
</head>

<body>
    <!-- CommonHeader -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Sobre nosotros</h1>
                        <p class="mb-4">Furni nació en CABA en 1952 y pasó de ser una pequeña empresa a convertirse en
                            la marca de mobiliario más importante del país. A través de la creatividad y la artesanía
                            danesas, elevamos los espacios con un diseño icónico que aporta alegría e inspiración,
                            colaborando con algunos de los diseñadores más respetados para estar atemporalmente en
                            tendencia.</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="../public/images/section/hero-img.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between about-section">
                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="../public/images/section/why-choose-us-img.jpg" alt="Image" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="section-title">Valores</h2>
                    <p>En Furni pensamos que una cultura se construye desde dentro hacia
                        fuera. El crecimiento, el
                        enfoque en el cliente y el desempeño se pueden medir de muchas maneras. Pero creemos que lo más
                        importante es la satisfacción de nuestra gente. Saber que tenemos la capacidad de conseguir los
                        mejores resultados. Por eso hemos creado un conjunto de valores: la base de nuestra cultura
                        colectiva, y el éxito común. Lo llamamos The FurConcept Way</p>
                    <h2 class="section-title">The FurConcept Way</h2>
                    <p>En Furni creemos que el éxito de nuestro enfoque en el cliente comienza en nosotros mismos. En
                        todos y cada uno de nosotros, con nuestros diversos potenciales, habilidades y fortalezas.</br>
                        El descubrimiento de estos potenciales es un proceso diario. Un viaje de decisiones
                        individuales: nuestras actitudes cotidianas. Las acciones que llevamos a cabo. Y las costumbres
                        que adquirimos.</br>
                        Sólo si somos conscientes de esas decisiones y aprovechamos nuestro potencial individual día
                        tras día podremos lograr un éxito duradero, todos juntos.
                    </p>
                    <h2 class="section-title">Responsabilidad social y ambiental</h2>
                    <p>En términos generales nuestra ambición es fabricar productos con el menor impacto posible sobre
                        el ambiente. Nos esforzamos continuamente para introducir mejoras en relación con el ambiente
                        tanto en la producción de nuestros productos como en los procesos logísticos involucrados en la
                        entrega de los productos Furni a los clientes, y así, asegurarnos que los efectos de nuestro
                        negocio dejan la menor huella posible en el ambiente a nivel global.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->
    <!-- CommonFooter -->
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/nav.bar.activation.js"></script>
</body>

</html>