<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../public/favicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Formulario de contacto</title>
</head>

<body>
    <!-- CommonHeader -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Contact</h1>
                        <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                            vulputate velit imperdiet dolor tempor tristique.</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="../public/images/couch.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- Start Contact Form -->
    <div class="untree_co-section">
        <div class="container">
            <div class="block">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-8 pb-4">
                        <div class="row mb-5">
                            <div class="col-lg-4">
                                <div class="service no-shadow align-items-center link horizontal d-flex active"
                                    data-aos="fade-left" data-aos-delay="0">
                                    <div class="service-icon mb-4">
                                        <img src="../public/images/location.svg" alt="IconImage">
                                    </div>
                                    <div class="service-contents">
                                        <p>43 Raymouth Rd. Baltemoer, London 3910</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="service no-shadow align-items-center link horizontal d-flex active"
                                    data-aos="fade-left" data-aos-delay="0">
                                    <div class="service-icon mb-4">
                                        <img src="../public/images/mail.svg" alt="IconImage">
                                    </div>
                                    <div class="service-contents">
                                        <p>info@yourdomain.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="service no-shadow align-items-center link horizontal d-flex active"
                                    data-aos="fade-left" data-aos-delay="0">
                                    <div class="service-icon mb-4">
                                        <img src="../public/images/phone.svg" alt="IconImage">
                                    </div>
                                    <div class="service-contents">
                                        <p>+1 294 3925 3939</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="text-black" for="fname">Nombres</label>
                                        <input type="text" class="form-control" id="fname">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="text-black" for="lname">Apellidos</label>
                                        <input type="text" class="form-control" id="lname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-black" for="email">Correo electrónico</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group mb-5">
                                <label class="text-black" for="message">Mensaje</label>
                                <textarea name="" class="form-control" id="message" cols="30" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary-hover-outline">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End Contact Form -->
    <!-- CommonFooter -->
    <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>

</html>