<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../public/icons/favicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Somos diseñadores y fabricantes de muebles de interiores</title>
</head>

<body>
    <!-- CommonHeader -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Héroes del diseño moderno</h1>
                        <h2>Somos diseñadores y fabricantes</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="../public/images/section/hero-img.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- Start Product Section -->
    <div class="product-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Moderno y de alta calidad</h2>
                    <p class="mb-4">Garantizamos un mobiliario de calidad y siempre a la vanguardia. Una de las
                        cualidades más importantes de los muebles vanguardistas que fabricamos es su
                        liviandad, su proporción y la búsqueda constante del confort. Inspírate en los últimos diseños y
                        estilos nórdicos.</p>
                    <p><a href="catalog.html" class="btn">Explorar</a></p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="#">
                        <img src="../public/images/catalog/product-1.png" class="img-fluid product-thumbnail">
                        <h3>Nordic</h3>
                        <h4>Un diseño para el confort</h4>
                        <span class="icon-cross">
                            <img src="../public/icons/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="#">
                        <img src="../public/images/catalog/product-4.png" class="img-fluid product-thumbnail">
                        <h3>Rattano</h3>
                        <h4>Un diseño clásico y elegante</h4>
                        <span class="icon-cross">
                            <img src="../public/icons/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="#">
                        <img src="../public/images/catalog/product-3.png" class="img-fluid product-thumbnail">
                        <h3>Kruzo Aero</h3>
                        <h4>Un diseño moderno de alto confort</h4>
                        <span class="icon-cross">
                            <img src="../public/icons/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Section -->
    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">Servicios de envío y soporte personalizados</h2>
                    <p>Nuestro compromiso es brindarte un servicio de entrega seguro y confiable, así como un soporte de
                        atención al cliente de primer nivel.</p>
                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../public/icons/truck.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Envío rápido y gratuito</h3>
                                <p>Entregas a todo el país</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../public/icons/bag.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Fácil de comprar</h3>
                                <p>Tus datos siempre protegidos</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../public/icons/support.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Soporte 24/7</h3>
                                <p>Recibe soporte para tus productos 24/7. Permítenos ayudarte con la entrega y el
                                    montaje</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../public/icons/return.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Devoluciones simples</h3>
                                <p>¡Las devoluciones son gratis! No te preocupes, los gastos de devolución van por
                                    nuestra cuenta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="../public/images/section/why-choose-us-img.jpg" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->
    <!-- Start We Help Section -->
    <div class="we-help-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="imgs-grid">
                        <div class="grid grid-1"><img src="../public/images/grid/img-grid-1.jpg" alt="Untree.co"></div>
                        <div class="grid grid-2"><img src="../public/images/grid/img-grid-2.jpg" alt="Untree.co"></div>
                        <div class="grid grid-3"><img src="../public/images/grid/img-grid-3.jpg" alt="Untree.co"></div>
                    </div>
                </div>
                <div class="col-lg-5 ps-lg-5">
                    <h2 class="section-title mb-4">Te ayudamos a crear espacios armónicos, modernos y funcionales a tu
                        estilo de vida</h2>
                    <p>Queremos inspirarte para crear un hogar verdaderamente personal. Nuestros muebles se pueden
                        personalizar exactamente de acuerdo a tus necesidades y gustos, y son conocidos por su
                        modularidad, funcionalidad y calidad inigualable, todo ello expresado con un estilo natural. La
                        materialidad lo es todo, por lo que ofrecemos más de 120 telas y materiales diferentes para
                        elegir. Juntos, podemos combinar estos materiales y superficies para ofrecer combinaciones
                        personalizadas adaptadas a tus gustos y personalidad. Pide muestras gratuitas de nuestras telas
                        y descubre cómo lucirán nuestros materiales en tu
                        hogar.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End We Help Section -->
    <!-- CommonFooter -->
    <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>

</html>