<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <h1>Bienvenido a Nuestro Sitio Web</h1>
    <h2>A continuación complete el formulario de contacto</h2>
    <form method="GET" action="procesar">
        <label for="apellidos">Apellido:</label>
        <input type="text" id="apellidos" name="apellidos"><br><br>
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres"><br><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>